# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/civicrm.settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
