# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignoring any (since local development sites at http://### link ###.civicrm.org to ###)
sites/*.civicrm.org

