#header{
    height:180px;
    background-color:#eff7e7;
    margin:0;
    border-bottom:4px solid silver;
}

#logo-section, .in-maintenance #header .section{
    height:180px;
    width: 600px;
    background-image:url('logo.png');
    margin: auto;
}

#header #secondary-menu{
    text-transform:uppercase;
}

#header #secondary-menu #secondary-menu-links{
    padding: 2px;
    font-size:9px;
    font-weight: bold;
    background-color: #dc0069;
    margin:0;
}
#header #secondary-menu #secondary-menu-links a{
    color: white;
}

#featured{
    margin:0;
    padding: 0;
    text-shadow:none;
    background-color:#fff;
    border: none;
    font-size:18px;
}

#featured .content{
    margin-top:0;
}
#featured .block-nice-menus{
    text-align:left;
}

#featured .section{
}

#block-system-main-menu ul {
    text-align:center;
    margin:0px;
    padding:10px 0px;
}
#block-system-main-menu li a {
    text-decoration:none;
    font-weight:normal;
}
#block-system-main-menu li {
    font-family:Oswald;
    display:inline-block;
    text-transform:uppercase;
    margin:0px 25px;
    padding:0;
}
#block-system-main-menu li a{
    color:#f68634; /*orange*/
    color:#36698E; /*blue*/
}

a {
    color:#36698E; /*blue*/
    font-weight: bold;
}

li a.active {
    color: #646360;
}

body{
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #646360;
    line-height:1.8em;
    /*    background-color:#e9f4fb; */
}


p {
    margin:1em 0;
    font-size:15px;
    text-align:center;

}

.content table{
    width:100%;
}

tr td, tr th {
    border: 5px solid #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
    text-align:center;
    margin-top:2em;
    margin-bottom:14px;
}
h1#page-title {
    margin-top:2em;
    font-size:36px;
    color: #666666;
    text-transform:uppercase;

}

.front h1.title {
display: none;
}

#content h2 {
    font-size:24px;
    background-image: url('blue-stars.png');
    background-repeat:no-repeat;
    background-position:center bottom;
    padding-bottom:20px;
    margin-bottom:24px;
}
h3 {
    font-size: 18px;
    text-transform: uppercase;
}
#content .section, .sidebar .section {
    padding: 0px;
}

#main {
    background-color:white;
    width:800px;
    margin:0 auto;
}
.no-sidebars #content {
    float: none;
}

#header div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
    width: 760px;
}
#featured div.section{

    width: 760px;
}

#footer {
    border:none;
    font-weight:bold;
    color:#eff7e7;
    margin:0 auto;
}

#footer-wrapper {
    padding-top:1px;
    background-color: #6f7375;
    background-repeat:repeat-x;
    background-position:top;
    background-color:#6f7375
    margin:0;
}


.region-triptych-first, .region-triptych-middle, .region-triptych-last {
    margin: 9px 10px 30px;
    width: 213px;
}



