@charset "utf-8";
/* CSS Document */

h1#page-title, .front h1#page-title
{
	padding-top:0 !important;
}

.front h1#page-title
{
	margin-bottom:17px !important;
}

.front #block-system-main .content
{
	margin:5px 0 0 0 !important;
}

.logged-in #block-block-2 .content{overflow:visible !important;}

.not-logged-in .tabs{display:none !important;}

.not-front #block-system-main .content
{
	margin:0 !important;
	padding:0 !important;
}

#content .section
{
	margin-top:28px !important;
}

.tweet_text
{
	position:absolute;
	width:590px;
}

#twitter_block_results ul li{padding-bottom:16px !important;}

#block-twitter-block-default{padding-bottom:25px !important;}

p.tweet
{
	padding-left:10px !important;
}